<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="RetroBatocera_Mover.My.MySettings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RetroBatocera_Mover.My.MySettings>
            <setting name="PathRetrobat" serializeAs="String">
                <value />
            </setting>
            <setting name="PathBatocera" serializeAs="String">
                <value />
            </setting>
        </RetroBatocera_Mover.My.MySettings>
    </userSettings>
               </configuration>